<!DOCTYPE html>
<html lang="en">

<%- include('../../layout/head') %>

  <body>
    <header>
      <%- include('../../layout/header') %>
    </header>
    <main>
      <section>
        <% results.forEach( book=> { %>
          <img src='<%= book.image_url %>' />
          <h3>
             BOOK TITLE: <%= book.title %>
          </h3>
          <h5>
            BOOK AUTHOR: <%= book.author_id %>
          </h5>
          <p>
            BOOK DESCRIPTION: <%= book.description %>
          </p>
          <p>
           BOOK ISBN: <%= book.isbn %>
          </p>
          <a href = "/edit/<%= book.id %>"><button>Update</button></a>

          <form  action="/books/<%= book.id %>?_method=DELETE" method="POST">
            <button type="submit">DELETE</button>
        </form>
          <% }) %>
      </section>
    </main>
    <%- include('../../layout/footer') %>
  </body>

</html>