<!DOCTYPE html>
<html lang="en">

<%- include('../layout/head') %>

  <body>
    <header>
      <%- include('.././layout/header') %>
    </header>
    <main>
      <h4>My Book Collection</h4>
      <p>
        You have <%= count %> saved locally.
      </p>
      <% booksList.forEach( book=>{ %>
        <div>
          <img src="<%= book.image_url%>" alt="">
          <h4>
            <%= book.title%>
          </h4>
          <h5>
            <%= book.author%>
          </h5>
          <p>
            <%= book.description%>
          </p>
          <form action="/books/detail/<%= book.id %>" method="GET">
            <button>View Details</button>
          </form>
          </div>
            <% }) %>
    </main>
    <%- include('.././layout/footer') %>
  </body>

</html>