<!DOCTYPE html>
<html lang="en">

<head>
  <title>Book Collection</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles/style.css">

</head>

<body>
  <header>
  <%- include('/views/layout/header') %>
</header>
  <main>
    <% searchResults.forEach( book=> { %>
      <img src='<%= book.image.smallThumbnail %>' />
      <h3>
        <%= book.title %>
      </h3>
      <h5>
        <%= book.author %>
      </h5>
      <p>
        <%= book.description %>
      </p>
      <p>
        <%= book.isbn %>
      </p>

      <section>
        <h2>Add a new book</h2>
        <form method="post" action="/books">
          <legend>Add Book</legend>

          <label for="title">Title</label>
          <input type="text" name="title" placeholder="title" value="<%= book.title %>" />

          <label for="author">Author</label>
          <input type="text" name="author" placeholder="author" value="<%= book.author %>" />

          <label for="isbn">ISBN</label>
          <input type="text" name="isbn" placeholder="isbn" value="<%= book.isbn %>" />

          <label for="image_url">Image_url</label>
          <input type="text" name="image_url" placeholder="image_url" value="<%= book.image.smallThumbnail %>" />

          <label for="description">Description</label>
          <textarea name="description" col="40" rows="20" placeholder="Add Description"
            value="<%= book.description %>"></textarea>

          <div><button type="submit">Save</button></div>
        </form>
      </section>
      <% }) %>


  </main>
</body>

</html>